@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;0,900;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background: #022131;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* styliser le container pour les entrés    */
.container {
    background-color: #fff;
    width: 500px;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
}
form {
    display: flex;
    flex-direction: column;
}
input {
    padding: 12px;
    border: 1px solid #022131;
    outline: 0;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 6px;
}
/* Personnalisation le boutton d'envoi */

input[type="submit"] {
    background-color: #0ef;
    color: #fff;
    border: 1px solid #0ef;
}
#message {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 500px;
    color: #0000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
    letter-spacing: 0.5px;
}